In [2]:
import pandas as pd

In [3]:
portions_data1 = {'order_id': [2, 1, 3], 'item_name':['Burger', 'pizza', 'salad'],'quantity' : [2, 1, 3]}
orders_df  = pd.DataFrame(portions_data1)
portions_data2 = {'order_id': [4, 6, 5], 'item_name':['soup', 'Burger', 'Wok'],'quantity' : [1, 3, 4]}
portions_df = pd.DataFrame(portions_data2)

In [4]:
pd.concat([portions_df, orders_df])

   order_id item_name  quality customer_name  total_amount
0         2    burger      2.0           NaN           NaN
1         1     pizza      1.0           NaN           NaN
2         3     salad      3.0           NaN           NaN
0         1       NaN      NaN         alice         25.50
1         2       NaN      NaN           bob         30.20
2         3       NaN      NaN       charlie         15.75

In [ ]:
order_data = {'order_id': [1, 2, 3], 'customer_name':['alice', 'bob', 'charlie'],'total_amount' : [25.5, 30.2, 15.75]}
orders_df  = pd.DataFrame(order_data)
portions_data = {'order_id': [2, 1, 3], 'item_name':['burger', 'pizza', 'salad'],'quantity' : [2, 1, 3]}
portions_df = pd.DataFrame(portions_data)

In [18]:
newdf = orders_df.merge(portions_df, how='right')
print(newdf)

   order_id customer_name  total_amount item_name  quality
0         2           bob         30.20    burger        2
1         1         alice         25.50     pizza        1
2         3       charlie         15.75     salad        3